$color-default1: #fff;
$color-default2: #E0E0E0;
$color-default3: #C7C7C7;
$color-default4: #989898;
$color-default5: #424242;
$color-default6: #232323;

$color-primary1: #DBC7FF;
$color-primary2: #C2A1FF;
$color-primary3: #A574FF;
$color-primary4: #752EF9;
$color-primary5: #5C16DD;

$color-secondary1: #F6FFEE;
$color-secondary2: #DEFCC1;
$color-secondary3: #C1FF83;
$color-secondary4: #A8F759;
$color-secondary5: #85D833;

$color-accent1: #E8FBFF;
$color-accent2: #9FEFFF;
$color-accent3: #6FE7FF;
$color-accent4: #41DFFF;
$color-accent5: #1CBBDA;
$color-accent6: #F7FEFF;


$color-success1: #D2FFC1;
$color-success2: #87FF42;
$color-success3: #5FE616;
$color-success4: #3BA700;
$color-success5: #2EEB36;

$color-attention1: #FFEBB6;
$color-attention2: #FFD154;
$color-attention3: #FFBB00;

$color-error1: #FFB8A7;
$color-error2: #FB513B;
$color-error3: #F73600;
$color-error4: #F50000;